<!DOCTYPE html>
<html lang="en">
<head>
    {{> templates/partials/header.html }}
</head>
<body>

<!-- Navigation -->
{{> templates/partials/navbar.html }}

<!-- Jumbotron -->
{{> templates/partials/jumbotron.html }}

<div class="container">
    <div class="row">
        <blockquote>
            <p>
                Technologies used in the Cloud Application
            </p>
            <small>NixMash Jangles -- <em>application backend for configuration and shared POJOs <a href="https://github.com/mintster/jangles">on GitHub</a></em></small>
            <small>Bootique -- <em>a module-based, minimally opinionated Java Framework. <a href="http://bootique.io/">Home Page.</a></em></small>
            <small>Jersey -- <em>JAX-RS Reference Implementation for consuming RESTful Services</em></small>
            <small>Jackson -- <em>suite of data-processing tools for Java for data-binding, streaming and annotating JSON and other data types for JAX-RS</em></small>
            <small>Jetty -- <em>embedded web services</em></small>
            <small>Google Guice -- <em>lightweight dependency injection framework </em></small>
            <small>Mustache -- <em>fast, 'logic-free' tag templating engine. Using the Spullara Java Mustache Implementation <a href="https://github.com/spullara/mustache.java">on GitHub</a></em></small>
            <small>Bootstrap -- <em>responsive theming</em></small>
        </blockquote>
    </div>
</div>

<!-- Footer -->
{{> templates/partials/footer.html }}

</body>
</html>
