<div class="jumbotron">
    <div class="container">
        <h1>{{#pageinfo.trans}}jumbotron.title{{/pageinfo.trans}}</h1>
        <h3>{{#pageinfo.trans}}jumbotron.subtitle{{/pageinfo.trans}}</h3>
        <div class="row">
            <div class="col-lg-12"><br/></div>
        </div>
        <p>
            <a class="btn btn-primary btn-lg" href="https://github.com/mintster/nixmash-microservices" role="button">View Project on GitHub</a>
        </p>

        <div class="row">
            <div class="col-lg-12"><br/><br/></div>
        </div>
    </div>
</div>