body {
    padding-top: 50px;
}

/*<editor-fold desc="Navbar">*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #999;
}
a.navbar-text {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 50px;
}
/*</editor-fold>*/

/*<editor-fold desc="Jumbotron">*/

blockquote small {
    color: #716561;
}

/*</editor-fold>*/

/*<editor-fold desc="Page Title and Sponsor area">*/

.container.content {
    margin-top: 60px;
}
.page-header h1 {
    font-size: 4em;
}
.sponsor img {
    max-width: 195px;
}
/*</editor-fold>*/

/*<editor-fold desc="Error Page">*/
p.exception {
    padding: 20px 0;
}
/*</editor-fold>*/

/*<editor-fold desc="Sections and Rows">*/
.row-centered {
    text-align: center;
}
.bs-section {
    padding-left: 15px;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
/*</editor-fold>*/

/*<editor-fold desc="Login">*/
.login-block {
    margin-top: 60px;
}
.login-block label {
    display: inline-block;
    width: 95px;
    font-weight: normal;
    text-align: right;
    margin-right: 10px;
}
.login-block input[type="checkbox"] {
    margin-right: 5px;
}
.login-block input[type="text"], .login-block input[type="password"] {
    padding-left: 5px;
}
.login-block .login-bottom {
    margin-left: 105px;
    margin-top: 30px;
}
.login-bottom ul {
    font-size: 16px;
}
/*</editor-fold>*/